<div class="container-fluid" style="color:white; background-color:black; padding-bottom:30px" >
<div class="form-check" style="padding:10px">
<label for="fname">First Name:</label>
<input type="text" id="fname" />
<label for="lname">Last Name:</label>
<input type="text" id="lname" /><br /></div>
<div class="form-check" style="padding:10px">
<label for="number">Mobile Number:</label>
<input type="tel" id="number" /> </div>
<div class="form-check" style="padding:10px">
<label>Address Line1</label><br />
<textarea style="height:100px; width:200px; margin:2px;"></textarea><br />
<label>Address Line2</label><br />
<textarea style="height:100px; width:200px; margin:2px;"></textarea></div>
<button  class="btn btn-danger">Submit</button>
</div>
